.btn {
	&.btn-primary {
		background-color: $primary-color;
		border-color: $primary-color;
	}
	&.btn-lg {
		padding-left: 40px;
		padding-right: 40px;
		font-size: 24px;
		font-weight: 700;
		@media (max-width: 767px) {
			font-size: 16px;
		}
	}
	&.no-radius {
		border-radius: 0;
	}
}