body {
  @extend .opensans-regular;
  font-size: 14px;
  line-height: 20px;
}

h1 {
  font-size: 48px;
  line-height: 48px;
  margin: 0;
  @extend .opensans-bold;
}
h2 {
  font-size: 28px;
  line-height: 48px;
  margin: 0;
  @extend .opensans-bold;
}
h3 {
  font-size: 20px;
  line-height: 28px;
  margin: 0;
  @extend .opensans-bold;
}
h4 {
  font-size: 16px;
  line-height: 20px;
  margin: 0;
  @extend .opensans-bold;
}
h5 {
  font-size: 14px;
  line-height: 20px;
  margin: 0;
  @extend .opensans-bold;
}
h6 {
  font-size: 12px;
  line-height: 18px;
  margin: 0;
  @extend .opensans-bold;
}
.section{
  padding: 48px 0;
  position: relative;
  overflow: hidden;
}