@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800');

$font-primary: 'Open Sans', sans-serif;

.opensans-light {
  font-family: $font-primary;
  font-weight: 300;
}
.opensans-regular {
  font-family: $font-primary;
  font-weight: 400;
}
.opensans-semibold {
  font-family: $font-primary;
  font-weight: 600;
}
.opensans-bold {
  font-family: $font-primary;
  font-weight: 700;
}
.opensans-extrabold {
  font-family: $font-primary;
  font-weight: 800;
}