@mixin size($w, $h) {
    width: $w;
    height: $h;
}
  
@mixin translate($x,$y) {
  -webkit-transform: translate($x, $y);
  -ms-transform: translate($x, $y);
  -o-transform: translate($x, $y);
  transform: translate($x, $y);
}

@mixin translateX($x) {
  -webkit-transform: translateX($x);
  -ms-transform: translateX($x);
  -o-transform: translateX($x);
  transform: translateX($x);
}

@mixin translateY($y) {
  -webkit-transform: translateY($y);
  -ms-transform: translateY($y);
  -o-transform: translateY($y);
  transform: translateY($y);
}

@mixin rotate($x) {
  -webkit-transform: rotate($x);
  -moz-transform: rotate($x);
  -o-transform: rotate($x);
  transform: rotate($x);
}

@mixin translatey-rotate($y, $r) {
  -webkit-transform: translateY($y) rotate($r);
  -moz-transform: translateY($y) rotate($r);
  -o-transform: translateY($y) rotate($r);
  transform: translateY($y) rotate($r);
}
@mixin translate-rotate($y, $x, $r) {
  -webkit-transform: translate($y, $x) rotate($r);
  -moz-transform: translate($y, $x) rotate($r);
  -o-transform: translate($y, $x) rotate($r);
  transform: translate($y, $x) rotate($r);
}

@mixin box-shadow($shadow) {
  -webkit-box-shadow: $shadow;
  -moz-box-shadow: $shadow;
  box-shadow: $shadow;
}

@mixin transition($transition...) {
  -moz-transition: $transition;
  -o-transition: $transition;
  -webkit-transition: $transition;
  transition: $transition;
}

@mixin scale($s) {
  -webkit-transform: scale($s);
  -moz-transform: scale($s);
  -o-transform: scale($s);
  transform: scale($s);
}  