// Color
$color-white: #ffffff;
$color-black: #000000;
$color-grey: #ddd;

$color-orange: #f89423;
$color-cyan: #5eaaff;
$color-cyan-hover: #83bcfc;
$color-darkblue: #001527;
$color-green: #57C771;
$color-red: #DD3E46;
$color-yellow: #FAD200;

$color-text: #6d6d6d;
$color-label: #9b9b9b;